/*预定义标准start*/
* {
    margin: 0;
    padding: 0;
}

/*预定义标准end*/

/*校验信息字体start*/
.error {
    color: #CD0000;
    padding-left: 10px;
    font-size: 15px;
}

/*校验信息字体end*/

/*container start*/
.container {
    width: 90%;
    height: 950px;
    border: 0px solid gray;
    margin: 30px auto;
}

/*container end*/

/*top start*/
.top {
    width: 100%;
    height: 80px;
    border: 0px solid gray;
}

.top_logo {
    width: 260px;
    height: 75px;
    border: 0px solid gray;
    background: url("/resources/images/logo.png") no-repeat;
    float: left;
    cursor: pointer;
}

.top_search {
    width: 550px;
    height: 65px;
    border: 0px solid gray;
    float: left;
    margin: 10px 55px;
}

#location {
    top: 0px;
    cursor: pointer;
}

#location .search {
    font-size: 16px;
    border: none;
    height: 19px;
    line-height: 19px;
}

.top_sign {
    width: 200px;
    height: 65px;
    border: 0px solid gray;
    float: right;
    margin: 10px 5px;
}

.top_sign .sign_in a {
    text-decoration: none;
    border: 0px solid gray;
    border-radius: 4px;
    background-color: #2DA7E0;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    width: 90px;
    height: 35px;
    float: left;
    padding: 5px 21px;
}

.top_sign .sign_in a:hover {
    background-color: #3071a9;
}

.top_sign .sign_out a {
    text-decoration: none;
    border: 0px solid gray;
    border-radius: 4px;
    background-color: #2DA7E0;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    width: 90px;
    height: 35px;
    float: right;
    padding: 5px 21px;
}

.top_sign .sign_out a:hover {
    background-color: #3071a9;
}

/*top end*/

/*center start*/
.center {
    width: 100%;
    height: 825px;
    border: 0px solid gray;
}

.center_list {
    width: 260px;
    height: 780px;
    border-right: 1px solid gray;
    float: left;
}

.center_list .list-group-item { /*列表样式*/
    padding-left: 50px;
    display: block;
}

.center_list .list-group-item:hover {
    background-color: #3071a9;
    color: #ffffff;
}

.center_list .list-group-item a {
    color: #000000;
}

.center_list .list-group-item a:hover {
    background-color: #3071a9;
    color: #ffffff;
}

/*.center_list .list-group-item:hover {
    background-color:#3071a9;         !*bt默认蓝色*!
    color: #ffffff;
}*/

.changeColor {
    background: #3071a9;
}

.center_cont {
    width: 865px;
    height: 370px;
    border: 0px solid gray;
    float: right;
}

.center_saveForm {
    width: 865px;
    height: 780px;
    border-top: 1px solid gray;
    float: right;
}

.center_saveForm .saveForm form {
    border: 0px solid gray;
    width: 680px;
    font-size: 16px;
    font-weight: bold;
    height: 500px;
}

.center_saveForm .saveMsg form {
    width: 865px;
}

.center_saveForm .saveForm form .form-group {
    width: 680px;
}

.center_saveForm .saveForm form .form-group label {
    float: left;
}

.center_saveForm .saveForm form .form-group input {
    width: 270px;
    float: left;
}

.center_saveForm .saveForm form .form-group button {
    width: 100px;
}

.center_search {
    width: 865px;
    height: 780px;
    border-top: 1px solid gray;
    float: right;
}

.center_search table input {
    width: 14px;
    height: 14px;
    margin: 0;
}

.center_search table span {
    padding-top: -2px;
}

.center_search form .form-group button {
    width: 100px;
}

.center_foods {
    width: 865px;
    height: 400px;
    border: 0px solid gray;
    float: right;
    margin: 30px auto;
    position: relative;
}

.center_foods .foods {
    width: 200px;
    height: 200px;
    border: 0px solid gray;
    float: left;
    margin-right: 15px;
}

/*center end*/

/*bottom start*/
.bottom .bottom_msg {
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    margin: 35px auto;
}

/*bottom end*/